* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.home,
.dashboard,
.login,
.addon {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.footer {
  color: white;
  width: 100%;
  background-color: black;
  height: 100px;
  display: grid;
  list-style: none;
  text-align: center;
}

.Sidebar {
  width: 250px;
  background-color: #59ce8f;
  height: 100vh;
}

aside {
  float: right;
}

.SidebarList {
  height: 100%;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #2eaa68;
}

.map {
  margin-top: 10px;
  margin-left: 10px;
}
